.card{
    width: min(500px, 100%);

    padding: var(--space-medium);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: stretch;
    border-radius: var(--radius-small);

    overflow: hidden;

    height: 100%;

    margin: auto;
}

.image{
    margin: var(--space-medium) auto;

    width: 100%;
    height: 200px;
    object-fit: contain;
}

.info-container{
    background-color: white;
    flex:1;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border-radius: var(--radius-small);
    box-shadow: 0 -8px 12px 0 rgba(0, 0, 0, 0.08);

    padding: var(--space-small);
    gap: var(--space-small);
}

.title{
    font-weight: var(--font-weight-semi);
}

.category{
    font-size: var(--font-size-small);
    color: var(--color-neutral-800);
    padding: var(--space-small);

    border-radius: var(--radius-small);

    border: 1px solid var(--color-neutral-800);
    
    align-self: flex-start;
}

.price{
    padding: var(--space-small);
    font-weight: var(--font-weight-semi);
}

.input-container{
    display: flex;
    flex-direction: column;

    gap: var(--space-small);

    align-items: center;

    text-decoration: none;
    
    text-align: center;
}

.input-container > *{
    flex: 1;
}

.delete, .add{
    padding: var(--space-small) var(--space-medium);

    border-radius: var(--radius-small);
}

.delete{
    border: 1px solid var(--color-danger);
    background-color: var(--color-neutral-100);
    color: var(--color-danger);
}
.delete:hover{
    background-color: var(--color-danger);
    color: var(--color-neutral-100);
}