.card{
    text-decoration: none;
    color: inherit;

    background-color: var(--color-neutral-200);
    border: var(--color-neutral-200);

    box-shadow: var(--shadow-card);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: stretch;
    border-radius: var(--radius-small);

    overflow: hidden;

    height: 100%;

    position: relative;
    
    transition: transform 0.2s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.badge{
    position: absolute;
    
    transform-origin: top left;

    top: 0;
    left: 0;

    transform: translate(10px, 10px);

    font-size: var(--font-size-small);

    padding: var(--space-small) var(--space-medium);

    border-radius: var(--radius-small);

    background-color: var(--color-neutral-100);
}

.image-container{
    overflow: hidden;
}

.image{
    width: 200px;
    height: 200px;

    margin: var(--space-small) auto;

    object-fit: contain;

    transition: transform 0.2s ease;
}

.info-container{
    background-color: white;
    flex:1;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border-radius: var(--radius-small);
    box-shadow: 0 -8px 12px 0 rgba(0, 0, 0, 0.08);

    padding: var(--space-small);
    gap: var(--space-small);
}

.title{
    font-weight: var(--font-weight-semi);
}

.category{
    font-size: var(--font-size-small);
    color: var(--color-neutral-800);
    padding: var(--space-small);

    border-radius: var(--radius-small);

    border: 1px solid var(--color-neutral-800);
    
    align-self: flex-start;
}

.price-container{
    display: flex;
}

.price{
    padding: var(--space-small);
    font-weight: var(--font-weight-semi);
}

.view{
    background-color: var(--color-accent);
    color: white;

    text-decoration: none;
    padding: var(--space-small) var(--space-medium);

    border-radius: var(--radius-small);

    text-align: center;

    margin-left: auto;

    width: 50%;
}